@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.nav {
		@apply relative;
	}
	.nav::after {
		@apply content-[''] bg-black h-[3px] w-[0%] left-0 -bottom-[4px] rounded-xl absolute duration-300 ease-in-out transition-all;
	}

	.nav:hover::after {
		@apply w-[100%];
	}
}

body {
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.swiper-pagination-bullet {
	background: #0000009a;
}

::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #2b2b2b;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
